<div class="footerr">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <img
            class="w-75 h-100"
            src="../../assets/Images/logo.png"
            alt="logo"
          />
          <p>Hi, Its footer for your webapp.</p>
          <h3>We Accpect</h3>

          <div class="card-area">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-solid fa-credit-card"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-paypal"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href=""
                >• 123 Main Street, Vaishali Nagar, Jaipur, Rajasthan, India.</a
              >
            </li>
            <li><a href="">• +91 1234567890</a></li>
            <li><a href="">• ridesharing@gmail.com</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>About</h3>
          <ul>
            <li><a href="">• Raid-Sharig</a></li>
            <li>
              <a href="">• Mission : Empowering businesses with technology.</a>
            </li>
            <li><a href="">• Founded In : 2023</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>News Letter</h3>
          <p>Hi, Its Work Place of New Letter.</p>
          <div class="input-group mb-3">
            <!-- <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email..."
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text" id="basic-addon2"
              ><i class="fa-solid fa-right-long"></i
            ></span> -->
          </div>
          <h2>Follow Us</h2>
          <p class="socials">
            <a href="https://in.linkedin.com/"
              ><i
                class="fa-brands fa-linkedin"
                href="https://in.linkedin.com/"
              ></i
            ></a>
            <a href="https://www.facebook.com/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.youtube.com/"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div class="Copyright">
      <p>Copyright : © 2023 Ride-Sharing. All rights reserved.</p>
    </div>
  </div>
</div>
