<div class="footerr">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <img
            class="w-75 h-100"
            src="../../assets/Images/logo.png"
            alt="logo"
          />
          <p>Hi, Its footer for your webapp.</p>
          <h3>We Accpect</h3>

          <div class="card-area">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-solid fa-credit-card"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-paypal"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>Hosting</h3>
          <ul>
            <li><a href="">Web Hosting</a></li>
            <li><a href="">Cloud Hosting</a></li>
            <li><a href="">Email Hosting</a></li>
            <li><a href="">Wordpress Hosting</a></li>
            <li><a href="">Vpa Hosting</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>Domain</h3>
          <ul>
            <li><a href="">Web Domain</a></li>
            <li><a href="">Cloud Domain</a></li>
            <li><a href="">Email Domain</a></li>
            <li><a href="">Wordpress Domain</a></li>
            <li><a href="">Vpa Domain</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h3>News Letter</h3>
          <p>Hi, Its Work Place of New Letter.</p>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email..."
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text" id="basic-addon2"
              ><i class="fa-solid fa-right-long"></i
            ></span>
          </div>
          <h2>Follow Us</h2>
          <p class="socials">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
