<div class="container-fluid d-flex px-0">
  <div class="col-3">
    <div class="sideMenu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link">ABC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">DEF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">GHI</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="container border">
      <div class="Chart p-4">
        <h5>City wise distribution of the rides</h5>
        <hr class="homeTable-divider" />
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
