<div class="containerr">
  <div class="left">
    <div class="container">
      <div class="row mt-4 mb-5">
        <div class="col-12 parent">
          <input
            class="form-check-input rad"
            type="radio"
            (click)="returnToCurrentLocation()"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            checked
          />
          <input
            type="text"
            placeholder="Current Location"
            class="form-control mb-4"
            [(ngModel)]="currentLocation"
            (input)="NewsearchLocation(currentLocation)"
            (keyup)="createRoute()"
          />
        </div>
        <div class="col-12">
          <input
            class="form-control"
            type="text"
            placeholder="Search for a location"
            [(ngModel)]="searchQuery"
            (ngModelChange)="searchLocation(searchQuery)"
            (keyup)="createRoute()"
          />
        </div>
      </div>
      <!-- (change)="createRoute()" -->

      <hr class="divider" />

      <div
        (click)="
          getDivData(
            'Two Wheeler',
            distanceInKilometersString,
            bikepriceInRupeesString
          )
        "
        value="Two Wheeler"
        class="two-wheeler"
      >
        <div class="row">
          <div class="col-6">
            <i style="color: blue;" class="fa-solid fa-motorcycle"></i>
          </div>
          <div class="col-6">
            <p>Total Distance: {{ distanceInKilometersString }}</p>
            <p>Total Price: {{ bikepriceInRupeesString }}</p>
          </div>
        </div>
      </div>

      <hr class="divider" />

      <div
        (click)="
          getDivData(
            'Three Wheeler',
            distanceInKilometersString,
            AutopriceInRupeesString
          )
        "
        value="Three Wheeler"
        class="three-wheeler hover-effect"
      >
        <div class="row">
          <div class="col-6">
            <i style="color: darkorange;" class="fa-solid fa-caravan"></i>
          </div>
          <div class="col-6">
            <p>Total Distance: {{ distanceInKilometersString }}</p>
            <p>Total Price: {{ AutopriceInRupeesString }}</p>
          </div>
        </div>
      </div>

      <hr class="divider" />

      <div
        (click)="
          getDivData(
            'Four Wheeler',
            distanceInKilometersString,
            cabpriceInRupeesString
          )
        "
        value="Four Wheeler"
        class="four-wheeler hover-effect"
      >
        <div class="row">
          <div class="col-6">
            <i style="color: maroon;" class="fa-solid fa-car-side"></i>
          </div>
          <div class="col-6">
            <p>Total Distance: {{ distanceInKilometersString }}</p>
            <p>Total Price: {{ cabpriceInRupeesString }}</p>
          </div>
        </div>
      </div>
      <hr class="divider" />
      <div class="mt-5">
        <!-- <button class="btn btn-primary mb-5 me-2" (click)="createRoute()">
          Calculate Route
        </button> -->

        <button class="btn btn-primary mb-5 me-2" [disabled]="bookRideFlag" (click)="RequestForRide()">
          Book Ride
        </button>

        <button class="btn btn-primary mb-5" [disabled]="cancelFlag" (click)="CancelRide()">
         Cancel Ride
        </button>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="right">
    <section class="mapp">
      <div
        id="map"
        class="map-container"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        (leafletClick)="mapClicked($event)"
      ></div>
    </section>
  </div>
</div>
