.map-container {
  width: 100%;
  height: 100vh;
}

.parent {
  position: relative;
}

.rad {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1;
}

.location {
  border-radius: 5px 0 0 5px;
}

.form-check-input {
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

// modal

.modal-body i {
  font-size: 50px;
}

.col-6 i {
  font-size: 50px;
}

//containerr
.containerr {
  display: flex;
  width: 100%;
}

.left {
  flex: 30%;
  background-color: whitesmoke;
  padding: 20px;
}

.right {
  flex: 70%;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Define a CSS class for the hover effect */
.hover-effect {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

/* Apply the hover effect when hovering over the divs */
.two-wheeler:hover,
.three-wheeler:hover,
.four-wheeler:hover {
  background-color: #c2c2c2; /* Change the background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}
