.Silde-img {
  padding: 20px;
}

.d-block {
  border-radius: 15px;
}

section.setup {
  padding: 100px 0;
}

section.setup .text-header h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: black;
  padding: 27px 0;
}

section.setup .icon {
  padding: 27px 0;
}

section.setup h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding-bottom: 18px;
}

section.setup .desc p {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: gray;
  max-width: 284px;
  margin: 0 auto;
}

// section.information .text-information {
  
// }

section.information h5 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: black;
}

section.information p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: gray;
  padding-top: 20px;
}

section.information .info-1{
    padding: 100px 0;
}

section.information .w-100{
    border-radius: 15px 50px
}

section.information .info-2{
    padding: 100px 0;
}